body {
    margin : auto;
    padding : 0px;
    background-color : black;
    color : white;
    font-size : 16px;
    text-align : center;
}

#main-content-div {
    padding : 10px;
    background-color : dark-grey;
    width : 800px;
}
