body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 16px;
    text-align: center;
}

#main-content-div {
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    padding: 10px;
    background-color: gray;
}

.navbar {
    text-align: left;
    color: black;
}

.nav-option-tab {
    display: inline-block;
    text-align: center;
    width: 100px;
    padding: 5px;
    font-weight: bold;
}

.nav-option-radio-bt{
    display: none;
}

.nav-option-display{
    display: none;
}

.nav-option-radio-bt:checked+.nav-option-display {
    display: block;
}

.option-01{
    background-color: cyan;
} 

.option-02{
    background-color: lime;
}

.option-03{
    background-color: yellow;
}

.option-04{
    background-color: magenta;
}